<a href="/event/{{id}}" alt="go to the main page for this event">
    <div class="card hoverable">
        <div class="card-image">
            <img src="https://i.imgur.com/xqLnaoL.jpeg">
        </div>
        <div class="card-content black-text">
            <span class="card-title">{{event_name}}</span>
            <p>{{event_category}}</p>
            <p>{{user.username}}</p>
        </div>
        <div class="card-action">
            <p>{{location}}</p>
            <p>{{format_date event_date}}</p>
            <p>{{format_time start_time}} to {{format_time end_time}}</p>
        </div>
    </div>
</a>
