<a href=`/event/{{id}}` alt="go to the main page for this event">
    <div class="card hoverable small">
        <div class="card-image">
            <img src="https://i.imgur.com/xqLnaoL.jpeg">
            <span class="card-title">{{event_name}}</span>
        </div>
        <div class="card-content">
            <p>{{event_category}}</p>
        </div>
        <div class="card-content">
            <p>{{event_description}}</p>
            <p>{{user.username}}</p>
        </div>
        <div class="card-action">
            <p>{{location}}</p>
            <p>{{event_date}}</p>>
            <p>{{start_time}} to {{end_time}}</p>
        </div>
    </div>
    <div class="card hoverable small">
        <div class="card-image right" id="image">             
            <img src="./image/event_pics/book_club_2.jpg">
        </div>
    </div>
</a>