<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Google Materalize fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Moment JS module -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Goggle Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
    <!-- Our styles -->
    {{#if weirdRoute}}
    <link rel="stylesheet" href="../css/styles.css">
    {{else}}
    <link rel="stylesheet" href="./css/styles.css">
    {{/if}}
    <!-- TITLE -->
    <title>Event Form</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo" style="margin-left: 15px;"><i class="material-icons" id="mainTitleIcon">group</i>GROUPER</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if loggedIn}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/">Find Events</a></li>
                <li><a href="/create">Create New Event</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        {{#if loggedIn}}
        <li><a class="white-text" href="/dashboard">Dashboard</a></li>
        <li><a class="white-text" href="/">Find Events</a></li>
        <li><a class="white-text" href="/create">Create New Event</a></li>
        {{else}}
        <li><a class="white-text" href="/login">Login</a></li>
        {{/if}}
    </ul>

    {{{body}}}

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="center-align">
                    <h5 class="white-text">Grouper</h5>
                    <h6> Organizer of Group Events </h6>
                    <h7> Grouper is an app designed to create and organize group events in person and on zoom</h7>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Text
            </div>
        </div>
    </footer>
</body>

</html>
{{#if weirdRoute}}
<script src="../js/materialize.js"></script>
{{else}}
<script src="./js/materialize.js"></script>
{{/if}}