<div class="container">
    {{#if noEvents}}
    <div class="center-align">
        <h5>YOU HAVE NO EVENTS!</h5>
    </div>
    {{else}}
    <h2 class="center-align">YOUR EVENTS</h2>
    {{#each mappedUserEvents as |event|}}

    <div class="card hoverable">
        <div class="card-image">
            <a href="/events/{{event.id}}" alt="go to the main page for this event">
                <div class="imageFrame" style="background-image: url('./image/{{format_category event.event_category}}.jpg');"></div>
            </a>
        </div>
        <div class="card-content black-text">
            <span class="card-title"><a href="/events/{{event.id}}" alt="get more details about this event">{{event.event_name}}</a></span>
            <p>{{event.user.username}}</p>
        </div>
        <div class="card-action">
            <p>{{event.location}}</p>
            <p>{{format_date event.event_date}}</p>
            <p>{{format_time event.start_time}} to {{format_time event.end_time}}</p>
        </div>
    </div>

    {{/each}}

    {{/if}}
</div>
<div id="dashboard"></div>
<script src="./js/getSaved.js"></script>